.main {

    display: flex;
    justifyContent: center;
    backgroundColor: #9c2a2a !important;
    paddingTop: 80;
    height: 100vh;

}


.text-games{
    font-family: 'Nunito', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}


  .tag {
  position: relative !important;
  margin: 1rem !important;
  flex: 1 0 25rem !important;
  max-width: 30rem !important; 
  max-height: 50rem !important;
  transition: 0.2s !important;
  }

  .tag:hover {
  transform: translateY(-0.5rem) !important;
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb !important;
  }